<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Todo List{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if message %}
        <div class="alert alert-info" role="alert">
            {% for message in message %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
