{% extends 'tasks/base.html' %}
{% block title %}Home{% endblock %}
{% block content %} 

<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
<a class="navbar-brand" href="{% url 'home' %}">TodoList!</a>
</nav>

<div class="jumbotron text-center"> 
    <h1 class="display-4">Welcome to the Todo List!</h1>
     <p class="lead">Keep Track</p> 
     <hr class="my-4">
     <p>Create account or log in to start planing!</p> 
     <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a>
     <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">Log In</a> 
</div>
<!-- Features -->
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Easy to Use</h2>
            <p>Simple design for easy use without any hassle</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Stay Organized</h2>
            <p>Organize your tasks by priority and due date!</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h2>Collaborate</h2>
            <p>Share tasks with friends or colleagues!</p>
        </div>
    </div>
</div>


<!-- User revies -->

<hr class="my-4">
<div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-12">
        <blockquote class="blockquote">
            <p class="mb-0">This helped me finish my pp4 in time!</p>
            <footer class="blockquote-footer">Alex, <cite title="Source Title">Student</cite></footer>
        </blockquote>
    </div>  
    <div class="col-lg-4 col-md-4 col-sm-12">
        <blockquote class="blockquote">
            <p class="mb-0">Made my planning easier giving me a quick overview</p>
            <footer class="blockquote-footer">Alex, <cite title="Source Title">Student</cite></footer>
        </blockquote>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <blockquote class="blockquote">
            <p class="mb-0">Easy to create and manage the tasks 9/10!</p>
            <footer class="blockquote-footer">Alex, <cite title="Source Title">Student</cite></footer>
        </blockquote>
    </div>
</div>
{% endblock %}